<div class="share sticky-top sticky-top-offset">
    <ul>
        {% if page.toc %}
        <li class="ml-1 mr-1" id="toc-list">
            <p>Summary</p>
            <p class="sep"></p>
            <!-- Toc if any -->
            {% if page.beforetoc %}
            <p><em>{{page.beforetoc}}</em></p>
            {% endif %}
            <div class="toc mt-4 mb-4 lead">
                {% include toc.html html=content h_min=2 h_max=2 sanitize=true%}
            </div>
            <!-- End Toc -->
        </li>
        {% endif %}

        <p>Share</p>
        <p class="sep"></p>
        <li class="ml-1 mr-1">
            <a target="_blank" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fab fa-twitter"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://facebook.com/sharer.php?u={{ page.url | absolute_url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;">
                <i class="fab fa-facebook-f"></i>
            </a>
        </li>

        <li class="ml-1 mr-1">
            <a target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url }}" onclick="window.open(this.href, 'width=550,height=435');return false;">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </li>
    </ul>
</div>
